@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@font-face {
    font-family: 'playlistscript';
    src: url('../fontes/playlistscript.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100vw; height: 100vh;
    font-size: 100%;
    background-image: linear-gradient(to top, rgba(196, 119, 46, 0.534), rgba(253, 189, 130, 0.158));
    background-repeat: no-repeat;
    background-position: center;

}

/*Começo do menu de navegação*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid palevioletred;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid pink;
    border-radius: 5px;
}

/*fim do menu de navegação*/

.apresentacao{
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 1px 1px 30px;
    border: 2px solid red;
}

.imagem-inicial{
    border:2px solid blue;
    padding: 0px;
    font-size: 8px;
}

.paragrafo-imagem-inicial{
    position: relative;
    border:1px solid yellow;
}

.texto{
    border:2px solid purple;
    margin: 2px;
}
h2{
    font-family: 'playlistscript', 'verdana';
    color: rgb(39, 13, 10);
}