@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

@font-face {
    font-family: 'playlistscript';
    src: url('../fontes/playlistscript.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100vw; height: 100vh;
    font-size: 100%;
    background-image: linear-gradient(to top, rgba(196, 119, 46, 0.534), rgba(253, 189, 130, 0.158));
    background-repeat: no-repeat;
    background-position: center;

}

h2{
    font-family: 'playlistscript', 'verdana';
    color: rgb(39, 13, 10);
}